{% extends "base.html" %}

{% block content %}
<div class="overlay"></div>
<br><br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="mt-5">Thank You for Subscribing!</h2>
            <p class="lead">You've successfully subscribed to our newsletter.</p>
            <p class="text-muted">You'll start receiving updates on our fine collection soon.</p>
            <p><a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a></p>
        </div>
    </div>
</div>
{% endblock %}
